<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>□□ Lista de Asistencia - Descargar PDF □□</title>
</head>
<body>

    <div style="border: 1px solid #ccc; padding: 20px; max-width: 600px; text-align: center; margin: auto;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Nuevo_Escudo_de_la_UNEFA_%28Desde_1999%29.svg" alt="Logo UNEFA" width="80">
        <h1>◇◇ Documento Listo ◇◇</h1>
        <p>La Lista de Asistencia Modificada ha sido Procesada y Convertida a PDF.</p>
        <hr>
        <br><br>
        <a href="{{ url_for('descargar', nombre=url_pdf) }}">
           Descargar PDF
        </a>
        </a>
        <br><br><br>
        <a href="{{ url_for('index') }}">Volver a Subir otro archivo</a>   
    </div>
<a href="{{ url_for('index') }}">SUBIR LA LISTA DE ASISTENCIA</a>    
<a href="{{ url_for('subir') }}">BUSCAR Y MODIFICAR</a>    
<a href="{{ url_for('buscar') }}">◇VISUALIZACION FINAL◇</a>

</body>
</html>
